*{
   
    margin: 5px;
    padding: 0;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body{
	background-image: url(img/fondo.jpg); 
    background-repeat: repeat;
}


header{
	background-color: #6f18c5;
	color: white;
    text-align: center;
    margin: 0 auto;
	padding: 20px;
}


#contain{
	background: white;
	width:75%;
	margin: 1em auto; /*centrado*/
	padding: 1em;

}


/*estilos del menú*/
nav {
	background-color: white;
	}

nav ul{
    list-style: none;
    display: flex;
    padding: 10px;
    margin: auto;
    }

nav ul li a{
    color:black;
    text-decoration: none;
    background-color: #cccccccc;;
    padding: 10px;
    margin:10px;
    transition: ease-out .2s;
}
    
nav ul li a.rosado{
    color:black;
    text-decoration: none;
    background-color: #c73ee5;;
    padding: 10px;
    margin:10px;
    transition: ease-out .2s;
}
nav ul li a:hover{
    background-color: #c73ee5;
}

article{
	width:65%;
	margin:0 auto;
    text-align: center;
	background-color: white;
	padding: 2em;
    box-sizing: border-box;
	border:5px solid #6f18c5;
	
}

main{
    text-align: center;
    margin: 20px;
}

/*Estilos juego 1 */

.resp li{
    display: inline-block;
    padding: 30px; 
    border: 1px solid #c73ee5;
    cursor: pointer;
}
#resultado{font-size: 5em;}
#multi{display: none;}
#final{display: none;}

/*Estilos juego 2 */
#juego{display: none;}
#juego #suma{font-size: 1.5em;}
#listaJugadores{
    list-style: none;
}

/*Estilos juego 3 */

#cartas{display: flex;max-width: 2000px;flex-wrap: wrap;margin: auto;padding-top: 30px;}

.carta{
    width: 131px;
    height: 200px;
    border: 1px solid black;
    display: none;
    border-radius: 10px;
    margin: 1px;
}

.vuelta{
    background-image: url(../img/imgApp1/vuelta.png) !important;
    background-position: center;
}

.frente{
    background-size: 145px !important;
    background-position: center;
}

.seleccion{border: 2px solid greenyellow;}

.disabled{
    border: 1px solid grey !important;
    color: grey !important;
    cursor: not-allowed !important;
    display: none !important;
}
#comenzar{width: 150px;height: 50px;}
#intentos{ font-size: 1.5em;display: none;}
#tiempo{ font-size: 2em;display: none;color: #a5008b;margin: 1.5em;}


/*Estilos Pie de pagina */
footer{
	background-color: #6f18c5;
	margin: 1.5em auto 0;
    padding: 1em;
    width: 80%;
    font-size: 1.2em;
    text-align: center;
	color: white;
	
}
